<link rel="stylesheet" href="styles/estilo.css">
<body>
    
    <h2> <strong> <a href="/">Menu</a> </strong></h2>
<table>
    <center>
        <table style="font-size: 258%;">
            
            <tr style="background: darkslategrey;"> </tr>
