<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo toledo</title>
    <link rel="stylesheet" href="styles/estilo.css">
</head>
<body>
   
   <center> 
  <table>
      <tr>
         <td id="peli"> <a href="/Picasso"> Pablo Picasso</a></td>
         <td><a href="/Vangogh">Van Gogh</a></td>
         <td><a href="/Monet">Monet</a></td>
         <td><a href="/Davinci">Da Vinci</a></td>
      </tr>
      <tr>
          <td><img src="https://img1.picmix.com/output/pic/normal/4/9/8/1/8891894_4f6bf.gif" 
                    alt="Picasso" width="200px" height="200px"></td>
          <td><img src="https://media.giphy.com/media/lNRsj5ms0TbPt0iDMg/giphy.gif"
            alt="Van Gogh" width="300px" height="300px"></td>     
          <td><img src="https://pic.pimg.tw/judy725725/1402711611-3980675075.gif" 
                    alt="Monet" width="250px" height="280px"></td>
          <td><img src="https://lh3.googleusercontent.com/proxy/egVaHUcObRyXSH5h0hJTdTEt5_WxqWHEDS6wjNgK-IduwoxLxSqDGaAReF6Fm9FJbl8AnK4Bb5cBUDXHiosgBzozY1linVSNrE7ovQJDJCuPV2I" 
            alt="Da Vinci" width="260px" height="300px"></td>
      </tr>
      
  </table>
</center>
</body>
</html>
