{{>header}}
    
            <td>
              <h5>Van Gogh</h5> 
                 <h6> Vincent Willem van Gogh (pronunciado Acerca de este sonido [ˈvɪnsɛnt fɑŋ'ɣɔx] (?·i); Zundert, 
                        30 de marzo de 1853-Auvers-sur-Oise, 29 de julio de 1890) fue un pintor neerlandés, uno de los 
                        principales exponentes del postimpresionismo.​
                        Pintó unos 900 cuadros (entre ellos 43 autorretratos y 148 acuarelas) y realizó más de 1600 dibujos. 
                        Una figura central en su vida fue su hermano menor Theo, marchante de arte en París, quien le prestó 
                        apoyo financiero de manera continua y desinteresada. La gran amistad entre ellos está documentada en 
                        las numerosas cartas que se intercambiaron desde agosto de 1872. De las 800 cartas que se conservan 
                        del pintor, unas 650 fueron para Theo; las otras son correspondencia con amigos y familiares.
                       
                <br>
                <br>
                    Van Gogh fue esencialmente autodidacta. Desde joven tuvo inclinación hacia el dibujo. 
                    Su primer trabajo fue en una galería de arte. Más tarde se convirtió en pastor protestante y en 1879, 
                    a la edad de 26 años, se marchó como misionero a una región minera de Bélgica, donde comenzó a dibujar 
                    a la gente de la comunidad local. En 1885 pintó su primera gran obra, Los comedores de patatas. 
                    En ese momento su paleta se componía principalmente de tonos sombríos y terrosos. 
                    La luz y la preferencia por los colores vivos por la que es conocido surgió posteriormente, 
                    cuando se trasladó al sur de Francia, consiguiendo su plenitud durante su estancia en Arlés en 1888.
                <br>
                <br> 
                    </h6>
                </td>
        <td>
            <img src=https://estaticos.muyhistoria.es/media/cache/760x570_thumb/uploads/images/gallery/54943b8fb04f668c2e2906d1/van-gogh-cuadros-noche-estrellada.jpg
            alt="pintura 1" height="300" width="300">
        
                
                
                    <img src=https://img.culturacolectiva.com/cdn-cgi/image/f=auto,w=1600,q=80,fit=contain/content/2016/11/paisaje-iluminado-por-la-luna.jpg
                    alt="pintura 2" height="300" width="300">
                
        
           
            
                <img src=https://www.todocuadros.es/imagenes/pintores/van-gogh/cafe-terrace-van-gogh_1.jpg
                alt="pintura 3" width="300" height="300">
            
    
            
                <img src=https://s.france24.com/media/display/16ccacac-72c9-11ea-b4c0-005056a964fe/w:1240/p:16x9/MUSEO%20.webp
                    alt="pintura 5" height="300" width="300">
            </td>
                </tr>
      
           
        
       
    
    </center>
    
</table>
</body>