{{>header}}
    
            <td>
              <h5>Claude Monet</h5> 
                 <h6>
                    Claude Monet nació el 14 de noviembre de 1840 en la Rue Lafitte 45 de París. 
                    Era el segundo hijo de Claude Adolphe Monet y su esposa Louise Justine Aubrée.​ 
                    Su padre era propietario de un negocio que comerciaba con especias provenientes de las colonias 
                    ultramarinas francesas. El 20 de mayo de 1841, fue bautizado en la parroquia de la iglesia local, 
                    Notre-Dame-de-Lorette como Oscar-Claude.1​ Para 1845 la situación del negocio había decaído a tal 
                    punto que la familia se mudó al puerto de El Havre, en la desembocadura del Sena, 
                    donde vivía la media hermana de su padre, Marie-Jeanne Lecadre.​ 
                    El esposo de ésta, Jacques Lecadre, era comerciante de especias de ultramar al por mayor y proveedor 
                    naval.
                <br>
                <br>
                    Entre 1851 y 1857 Claude Monet asistió a la escuela secundaria en El Havre, donde recibió clases de dibujo 
                    de Jacques-François Ochard. No le gustaba la disciplina escolar4​ y prefería estar en el farallón o junto al mar. 
                    Durante sus clases dibujaba caricaturas de sus profesores y otros estudiantes que eran expuestas en el escaparate 
                    del único comerciante de marcos para cuadros de El Havre. 
                    A la edad de 15 años Monet era ya conocido como caricaturista en toda la ciudad y recibía encargos por los que 
                    cobraba hasta 20 francos.
                <br>
                <br> 
                    </h6>
                </td>
        <td>
            <img src=https://i2.wp.com/www.culturavia.com/wp-content/uploads/2016/03/nenufares-monet.jpg?fit=950%2C707
            alt="pintura 1" height="300" width="300">
        
                
                
                    <img src=https://ae01.alicdn.com/kf/HTB1B2KiRFXXXXb8XFXXq6xXFXXXw/Paisajes-de-Arte-Jard-n-en-Giverny-por-Claude-Monet-pinturas-de-aceite-de-alta-calidad.jpg
                    alt="pintura 2" height="300" width="300">
                
        
           
            
                <img src=https://www.dhresource.com/0x0/f2/albu/g6/M01/48/E5/rBVaR1usP9yAFLkYAAOEIsd_q_o347.jpg
                alt="pintura 3" width="300" height="300">
            
    
            
                <img src=https://okdiario.com/img/2017/05/19/monet-3.jpg
                    alt="pintura 5" height="300" width="300">
            </td>
                </tr>
      
           
        
       
    
    </center>
    
</table>
</body>