{{>header}}
    
            <td>
              <h5>Leonardo Da Vinci</h5> 
                 <h6>Leonardo da Vinci (Leonardo di ser Piero da Vinci)(Vinci, 15 de abril de 14522​-Amboise, 2 de mayo de 1519) 
                     fue un polímata florentino del Renacimiento italiano. Fue a la vez pintor, anatomista, arquitecto, 
                     paleontólogo,3​ artista, botánico, científico, escritor, escultor, filósofo, ingeniero, inventor, músico, 
                     poeta y urbanista. Murió acompañado de Francesco Melzi,4​ a quien legó sus proyectos, diseños y pinturas.​
                      Tras pasar su infancia en su ciudad natal, Leonardo estudió con el pintor florentino Andrea de Verrocchio. 
                      Sus primeros trabajos de importancia fueron creados en Milán al servicio del duque Ludovico Sforza. 
                      Trabajó a continuación en Roma, Bolonia y Venecia, y pasó sus últimos años en Francia, 
                      por invitación del rey Francisco I.
                <br>
                <br>
                Frecuentemente descrito como un arquetipo y símbolo del hombre del Renacimiento, genio universal, 
                además de filósofo humanista cuya curiosidad infinita solo puede ser equiparable a su capacidad inventiva, 
                Leonardo da Vinci es considerado uno de los más grandes pintores de todos los tiempos y, probablemente, 
                la persona con el mayor número de talentos en múltiples disciplinas que jamás ha existido.​
                 Como ingeniero e inventor, Leonardo desarrolló ideas muy adelantadas a su tiempo, tales como el helicóptero, 
                 el carro de combate, el submarino y el automóvil. Muy pocos de sus proyectos llegaron a construirse 
                 (<strong> entre ellos la máquina para medir el límite elástico de un cable </strong>),​
                  puesto que la mayoría no eran realizables durante esa época.Nota 3​ Como científico, 
                  Leonardo da Vinci hizo progresar mucho el conocimiento en las áreas de anatomía, la ingeniería civil, 
                  la óptica y la hidrodinámica.
                <br>
                <br> 
                   </h6>
                </td>
        <td>
            <img src=https://cdn.culturagenial.com/es/imagenes/mona-lisa-0.jpg
            alt="pintura 1" height="300" width="300">
        
                
                
                    <img src=https://www.todocuadros.es/media/catalog/product/cache/1/small_image/450x450/040ec09b1e35df139433887a97daa66f/v/i/virgen-huso-leonardo.jpg
                    alt="pintura 2" height="300" width="300">
                
        
           
            
                <img src=https://1.bp.blogspot.com/-SBXQpnZKMDA/T6k3zSY5gVI/AAAAAAAAolQ/o5fGk-xlqKU/s1600/1bella.jpg
                alt="pintura 3" width="300" height="300">
            
    
            
                <img src=https://cdn.culturagenial.com/es/imagenes/virgen-con-nino-y-santa-ana.jpg
                    alt="pintura 5" height="300" width="300">
            </td>
                </tr>
      
           
        
       
    
    </center>
    
</table>
</body>